<!DOCTYPE html>
<html>
    <head>
        <title>Zyba Salons</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
        <style>
            body {
              background-image: url('https://lh3.googleusercontent.com/proxy/iCYFUPz4L7oRHMY0-1fkbKnLD-BWiQnvzPORVbmaNlPBz1-QhRd75-oK9y6mq8oq3NhiMttdxexyDENas9bx2ves0Bdruh2LDNM56lD6OUCGhdkbjN0WgA3p2OCXTaZtNAk');
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-size: cover;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div>
                <div class="navbar-header">
                    <a href="/"><img  src="zyba.jpg" width="80" height="60"></a>
                </div>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right" >
                    <li><a href="/allbookings">All Bookings</a></li>
                    <li><a href="/cancel">Cancel Booking</a></li>
                </ul>
            </div>
        </nav>